
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #e2e8f0;
  color: white;
  -webkit-font-smoothing: antialiased;

}

body, input, button, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

svg:hover {
  cursor: pointer;
  color: #4a5568;
}

.myVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .myVideo {
    width: auto;
    height: 100%;
  }
}

footer {
  text-align: center;
  position: fixed;
  bottom: 20px;
  color: #4a5568;
  width: 100%;
  font-size: 0.8rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #4a5568;
  text-decoration: underline;
}   


